<!DOCTYPE html>
<html>
<head>
    <title>Kandy | IBM Bluemix App | Send SMS</title>
    <meta charset="UTF-8">
    <meta name="description" content="Kandy IBM Bluemix App">
    <meta name="keywords" content="kandy, ibm bluemix, webrtc, video, call, chat, sms">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <!--Load Bootstrap CSS (optional)-->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="screen"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script src="https://kandy-portal.s3.amazonaws.com/public/javascript/fcs/3.0.4/fcs.js"></script>
    <script src="https://kandy-portal.s3.amazonaws.com/public/javascript/kandy/2.2.2/kandy.js"></script>

    <!--Load Pace AJAX Progress Bar (optional)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <link rel="stylesheet" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/pink/pace-theme-minimal.css"/>

    <!--Custom css-->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/style.responsive.css" />
</head>
<body>