#login-form, #logged-in {
    background: white;
    padding: 10px 20px 20px 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    border: 1px solid #ddd;
    border-top-color: transparent;
}

#app-details {
    padding: 8px;
}

.form-group label.required abbr {
    color: red;
}

#logout-btn {
    margin-left: 4px;
    margin-top: 0px;
    background: none;
    border: none;
    color: rgb(69, 69, 69);
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    text-shadow: none;
}

#logout-btn:hover {
    color: #A5A5A5;
}

.logout-wrapper {
    margin-top: 10px;
}

.kandy-logo {
    height: 52px;
    margin-top: 10px;
}

.chat-messages-wrapper {
    background-image: none;
    background: white;
}

#chat-container .well {
    background-image: none;
    padding-bottom: 4px;
}

.chat-content p {
    padding: 8px 10px 8px 10px;
    margin-bottom: 0;
}

.chat-message-wrapper .chat-username {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}

.chat-message-wrapper .chat-content {
    text-align: right;
    padding-right: 2px;
    padding-left: 40px;
    float: right;
    min-width: 200px;
    width: auto;
}

.chat-other-user-wrapper .chat-content {
    text-align: left;
    padding-left: 2px;
    padding-right: 40px;
    float: left;
}

.chat-other-user-wrapper .chat-username {
    text-align: left;
}

#chat-messages .popover {
    position: relative;
    display: block;
    text-align: right;
    background: #F4F4FF;
}

#chat-messages .popover.bottom > .arrow:after {
    border-bottom-color: #F4F4FF;
}

#chat-messages .chat-other-user-wrapper .popover {
    background: #FFFFFF;
}

#chat-messages .chat-other-user-wrapper .popover.bottom > .arrow:after {
    border-bottom-color: #FFFFFF;
}

#chat-messages .chat-other-user-wrapper .popover {
    position: relative;
    display: block;
    text-align: left;
}

#chat-messages .popover {
    -webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}

#chat-messages .popover-content {
    padding: 0 6px;
}

.chat-message-wrapper .popover > .arrow {
    right: 10px;
    left: auto;
}

.chat-other-user-wrapper .popover > .arrow {
    left: 21px;
    right: auto;
}

.chat-message-wrapper .popover {
    max-width: none;
}

.chat-messages-wrapper h3 {
    margin-top: 0;
}

#chat-messages {
    max-height: 230px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

#message-input .form-group, .chat-messages-wrapper {
    margin-bottom: 8px;
}

.chat-username span {
    font-weight: normal;
}

.tab-sms-chat-wrapper .nav-tabs > li.active > a {
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.07);
}

.chat-other-user-wrapper .chat-username {
    cursor: pointer;
}

.group-item-member {
    border-bottom: 1px solid #EFEFEF;
    padding: 6px;
}

.group-item-member-owner {
    font-weight: bold;
}

.group-item-member-other:nth-of-type(odd) {
    background: #F9F9F9;
}

.group-info-name {
    float: left;
    cursor: pointer;
    font-size: 13px;
}

.group-info-name.active {
    font-weight: bold;
}

.group-item-wrapper {
    border-bottom: 1px solid #F0F0F0;
    padding: 2px 4px;
}

.group-item-wrapper .close {
    font-size: 14px;
}

.group-info-wrapper button:focus {
    outline: none;
}

.gc-add-member-wrapper {
    margin-right: 10px;
}

.gc-add-member-wrapper input {
    padding: 0 2px;
    line-height: 16px;
    font-size: 12px;
    width: 196px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-right: 2px;
}

.gc-unread-label {
    font-size: 11px;
    border-radius: 8px;
    padding: .1em .6em .2em;
}

.create-group-wrapper {
    margin-bottom: 18px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 10px;
    overflow: visible!important;
}

.owner-group-wrapper {
    margin-bottom: 10px;
}

.group-item-member-wrapper {
    font-size: 11.5px;
    margin-left: 24px;
}

.group-item-member-owner .glyphicon {
    color: #08c;
}

.group-item-member-wrapper .group-item-member:last-child {
    border: 0;
}

.gc-expand-btn,
.gc-delete-btn,
.gc-add-member-btn,
.gc-leave-group-btn,
.gc-add-member-submit-btn {
    margin-right: 4px;
    opacity: 1;
    color: #5bc0de;
}

.gc-delete-btn {
    color: #d9534f;
}

.gc-add-member-btn {
    color: #5cb85c;
}

.gc-leave-group-btn {
    color: #E7A225;
}

.gc-add-member-submit-btn {
    color: #E7A225;
}

.gc-chat-with-label {
    font-weight: normal;
}

.gc-chat-with-label span {
    font-weight: bold;
}

hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo-wrapper {
    width: 50%;
    float: left;
}

.gc-add-member-input:focus {
    outline: none;
}

#chat-container .close:focus, #chat-container .close:hover {
    color: inherit;
}

.group-item-member-owner-hint {
    font-size: 11px;
    font-weight: normal;
}